<p class="account">Account from: <%= @provider.provider.upcase  %> | <%= @provider.name %> | <%= link_to "Log out", logout_path, :id => "logout-link" %></p>
<div id="welcome">

    <h1> <%= image_tag('logo.png', :size => '100x100', :class => 'logo' ) %> REDEEMIFY</h1>
  </div>

<div class = "vendor_home_numcode">

  <p class="r1">Number of codes used: <%= @codesUsed %></p>
  <p class="r2">Number of codes remaining: <%= @codesRemain %></p>

</div>
<br>
<div class = "group-buttons2">
<div class = "row1">
	 <%= link_to "Upload New Codes", '/providers/upload_page', {:id => "upload" , :style => 'color:#000'} %>
</div>
<div class = "row1">
   <%= link_to "Remove Unclaimed Codes", '/providers/remove_codes', {:id => "remove-unclaimed-codes" , :style => 'color:#000'} %>
</div>

</div>
   
<h4 class="history">History</h4>
  <div class = "vendor_table">

<table>
  <tr class = "vendor_header">
    
      <td width = "20%">Upload Date</td>
      <td width = "60%">Comment</td>
      <td width = "20%">Number of Codes Uploaded</td>
  
    </tr>

    <% @histories_array.each do |history| %>
      <tr class="<%= cycle('oddd', 'evenn') %>">
        <td width = "20%"><%= history[0] %></td>
        <td width = "60%" id="descriptions"><%= history[1] %></td>
        <td width = "20%"><%= history[2] %></td>
     
      </tr>
    <% end %>

</table>
</div>
