<p class="account">Account from: <%= @provider.provider.upcase  %> | <%= @provider.name %> | <%= link_to "Log out", logout_path, :id => "logout-link" %></p>
<div id="welcome">

    <h1> <%= image_tag('logo.png', :size => '400x100', :class => 'logo' ) %></h1>
</div>
<h4 class="loginwith3">Upload New Codes</h4>
<div class = "home1">
 <p class="homee"><%= link_to "Home", '/providers/home' %></p>
</div>

  <% if flash[:error] != nil %>
    <% flash.keys.each do |k| %> 
       <center><font color="red"><%= flash[k] %></font></center>
    <% end %> 
<% end %>

<h3 class="upload_text">Attach .txt file </h3>  <%= form_tag import2_providers_path, multipart: true do %>
<p class="upload_text"> (please upload '.txt' file, each code per line)</p>
<div class = "upload_text">
<br>

    <%= file_field_tag :file %> 
    </div>
    <br>
    <h3 class="upload_text">Comment: <span id='question'>?</span></h3> 
    <div id='popup6'>Explain 6</div>
    <textarea name="comment" id="comments" cols="50" rows="4" placeholder="Comment..."></textarea>

    <br>
    <br>





  <div class = "upload_text">
    <%= submit_tag "Submit", :id => "submit"%>

  <% end %>
  </div>
</div>


 <script>
  $(function() {
    $( "#expiration" ).datepicker();
  });
  </script>
 <script>
    $(document).ready(function() {
    $('#question').hover(function() {
        $('#popup6').show();
    }, function() {
        $('#popup6').hide();
    });
});
    </script>

