<p class="account">Account from: <%= current_user.provider.upcase  %> | <%= current_user.name %> | <%= link_to "Log out", logout_path, :id => "logout-link" %></p>
<div id="welcome">

    <h1> <%= image_tag('logo.png', :size => '100x100', :class => 'logo' ) %> REDEEMIFY</h1>
</div>

<p class="middle">Your Provider Code: <%= @current_code %></p>

<p class = "customer_notice"> Click on vendor's name to redeem your code! </p>
 <% @list_codes.each do |vendor, code| %>
 <div class="customer_table">
<table>

   
      <div class="vendor_group">
      <tr>
        
        <td colspan = "2" class="vendor_header"><%= link_to vendor, @website[vendor] %></td>
      <tr class="vendor_odd">
        <td class="vendor_group1">Code :</td>
        <td class="vendor_group2"><%= code %></td>
      <tr class="vendor_even">
        <td class="vendor_group1">Expiration Date :</td>
        <td class="vendor_group2"><%= @expiration[vendor] %></td>
      <tr class="vendor_odd">
        <td class="vendor_group1">Instruction :</td>
        <td class="vendor_group2"><%= @instruction[vendor] %></td>
      <tr class="vendor_even">
        <td class="vendor_group1">Help :</td>
        <td class="vendor_group2"><%= @help[vendor] %></td>
      </tr>
      </div>
  
</table>


</div>
  <% end %>

</div>














