<html lang="en">
<head>
<meta>
<title>Redeemify | Customer</title>
<script language="javascript" type="text/javascript">
$(document).ready(function(){
    $(".toggler").click(function(e){
        e.preventDefault();
        $('.cat'+$(this).attr('data-prod-cat')).toggle();
    });
});

</script>
</head>



 <p class="account"><%= t 'customer.login' %> <%= current_user.provider.upcase  %> | <%= t 'customer.name' %> <%= current_user.name %> | <%= link_to "Logout", logout_path, :id => "logout" %></p>
<div id="welcome">

    <h1> <%= image_tag('logo.png', :size => '400x100', :class => 'logo' ) %></h1>
</div>

<br>




<div class = "customer_home_numcode">
<a class="r1"><%= t 'customer.yourcode' %></a>
<a style = "color:#1fb5fc">   <%= @current_code %></a>
<br>
<a class="r2"><%= t 'customer.offervalue' %></a>
<a style="color:#7bd215"> $<%= @total %></a>
</div>
<br>
<div class = "warning">
<% if flash[:alert] != nil %>
    <% flash.keys.each do |k| %> 
       <center><font color="black"><%= flash[k] %></font></center>
    <% end %> 
<% end %>
</div>


<p class = "customer_notice"> <%= t 'customer.instruction' %> </p>

<% if @vendor_user %>
<div class = "button-single">
  <div class = "row1">
    <%= link_to "Login as a vendor", '/sessions/change_to_vendor', {:id => "vendor-login", :style => 'color:#000'} %>

  </div>
  </div>
  <br>
<% end %>

 <% @list_codes.each do |vendor, code| %>
 <div class = "customer_table">


   <!--    <div class="vendor_group"> -->
        
        <table class = "vendor_header">
        <tr>
          
        <td class="vendor_name"><%= link_to vendor, @website[vendor],  {:style => 'color:#fd7330', :target => '_blank'} %> </td>
        <td class="vendor_code" style ="color:#1fb5fc"><%= code %></td>
        <td class="vendor_value" >$<%= @cashValue[vendor] %></td>
        <td class="vendor_expiration"><%= @expiration[vendor] %></td>

        <td class="show_hide"><a href="#" class="toggler" data-prod-cat="<%= cycle('1','2','3','4','5','6','7','8','9','10') -%>" style="color:#8e8e8e"><%= t 'customer.showhide' %></a></td>
        </table>

<div class="cat<%=current_cycle %>" style="display:none">
<table>
      <tr class="vendor_oddd">
        <td class="vendor_group1"><%= t 'customer.vendorcode' %></td>
        <td class="vendor_group3"><%= code %></td>
      <tr class="vendor_even">
        <td class="vendor_group1"><%= t 'customer.expirationdate' %></td>
        <td class="vendor_group3"><%= @expiration[vendor] %></td>
      <tr class="vendor_oddd">
        <td class="vendor_group1"><%= t 'customer.cashvalue' %></td>
        <td class="vendor_group3">$<%= @cashValue[vendor] %></td>
      <tr class="vendor_even">
        <td class="vendor_group1"><%= t 'customer.description' %></td>
        <td class="vendor_group3"><%= @description[vendor] %></td>
      <tr class="vendor_oddd">
        <td class="vendor_group1"><%= t 'customer.vendorinstruction' %></td>
        <td class="vendor_group3"><%= @instruction[vendor] %></td>
      <tr class="vendor_even">
        <td class="vendor_group1"><%= t 'customer.help' %></td>
        <td class="vendor_group3"><%= @help[vendor] %></td>
</table>

      
</div>
  

</div>
<% end %>
<h5 align="center"><%= t 'customer.deleteaccount' %></h5>
<div class="home1">

<p class="homee"><%= link_to image_tag('delete_user-512.png', :style => '30x20'), '/sessions/delete_page', {:id => "delete-account", :style => 'color:#000'} %></p>
</div>



      













