 <div id="welcome">

    <h1> <%= image_tag('logo.png', :size => '100x100', :class => 'logo' ) %> REDEEMIFY</h1>
 </div>
 <h1>Session#enter Redeem your code</h1>

  
  <%= form_tag("/sessions/offer", method: "get") do %>
    <%= label_tag(:code, "Enter your code Here:") %>
    <%= text_field_tag :code, :id=>"code" %>
    <%= submit_tag "Submit", :id=>"submit" %>
  <% end %>


  <p><%= link_to "Log out", logout_path %></p>