<% if current_user %>
  <h1>Redeem your code</h1>
  <p>
    <strong>Name:</strong>
    <%= current_user.name %>
   
  </p>
  <p>
    <strong>Provider:</strong>
    <%= current_user.provider %>
  </p>
  <p>
    <strong>OmniAuth UID:</strong>
    <%= current_user.uid %>
  </p>

  
  <%= form_tag("/sessions/offer", method: "get") do %>
    <%= label_tag(:code, "Enter your code Here:") %>
    <%= text_field_tag(:code) %>
    <%= submit_tag("Submit") %>
  <% end %>




  <p><%= link_to "Log out", logout_path %></p>


<% else %>
  
  <div id="welcome">

    <h1> <%= image_tag('logo.png', :size => '100x100', :class => 'logo' ) %> REDEEMIFY</h1>
  </div>
  <div class = "loginwith">
    <h1> LOGIN WITH </h1>
  </div>

  
  <!-- <p class="loginwith"><strong>Please Sign in through one of these services:</strong></p> -->

  <div class="auth_providers">
    <a id="google-auth" href="/auth/google_oauth2" class="auth_provider">
      <%= image_tag "google_apps_64.png", size: "106x50", alt: "Google" %>
      Google
    </a>
    <a id="facebook-auth" href="/auth/facebook" class="auth_provider">
      <%= image_tag "facebook_64.png", size: "106x50", alt: "Facebook" %>
      Facebook
    </a>
    <a id="twitter-auth" href="/auth/twitter" class="auth_provider">
      <%= image_tag "twitter_64.png", size: "106x50", alt: "Twitter" %>
      Twitter
    </a>

    <a id="github-auth" href="/sessions/enter" class="auth_provider">
      <%= image_tag "github_64.png", size: "106x50", alt: "Github" %>
      GitHub
    </a>

    <a id="amazon-auth" href="/auth/amazon" class="auth_provider">
      <%= image_tag "amazon_64.png", size: "106x50", :alt => "amazon" %>
      Amazon
    </a>

  </div>
<% end %>
