<% if current_user %>
 <p class="account">Login ith: <%= current_user.provider.upcase  %> | Name: <%= current_user.name %> | <%= link_to "Logout", logout_path, :id => "logout-link" %></p>
<div id="welcome">

    <h1> <%= image_tag('logo.png', :size => '400x100', :class => 'logo' ) %> </h1>
    
  </div>
  <div class = "loginwith2">
    <h1> Redeem Your Code </h1>
  </div>

  <% if @vendor_user %>
  <div class = "button-single">
  <div class = "row1">
    <%= link_to "Login as a vendor", '/sessions/change_to_vendor', {:id => "upload" , :style => 'color:#000'} %>
  </div>
  <% end %>
  </div>

  
  <div class = "formcode">
  
  <%= form_tag("/sessions/customer", method: "get") do %>
    <%= label_tag(:code, "Enter your code here:") %>
    <br>
    <div class = "field_text">
     <%= text_field_tag(:code) %>
     </div>
    <br>
 
    <%= submit_tag("Submit") %>
  <% end %>
  </div>




  

<% else %>
  
  <div id="welcome">

    <h1> <%= image_tag('logo.png', :size => '400x100', :class => 'logo' ) %></h1>
  </div>
  <div class = "loginwith">
    <h1> Login With </h1>
  </div>

  
  <!-- <p class="loginwith"><strong>Please Sign in through one of these services:</strong></p> -->

  <div class="auth_providers">
    <a id="google-auth" href="/auth/google_oauth2" class="auth_provider">
      <%= image_tag "google_apps_64.png", size: "106x50", alt: "Google" %>
      Google
    </a>
    <a id="facebook-auth" href="/auth/facebook" class="auth_provider">
      <%= image_tag "facebook_64.png", size: "106x50", alt: "Facebook" %>
      Facebook
    </a>
    <a id="twitter-auth" href="/auth/twitter" class="auth_provider">
      <%= image_tag "twitter_64.png", size: "106x50", alt: "Twitter" %>
      Twitter
    </a>

    <a id="github-auth" href="/auth/github" class="auth_provider">
      <%= image_tag "github_64.png", size: "106x50", alt: "Github" %>
      GitHub
    </a>

    <a id="amazon-auth" href="/auth/amazon" class="auth_provider">
      <%= image_tag "amazon_64.png", size: "106x50", :alt => "amazon" %>
      Amazon
    </a>

  </div>

  <% if flash[:notice] != nil %>
      <% flash.keys.each do |k| %> 
         <center><font color="green"><%= flash[k] %></font></center>
      <% end %> 
  <% end %>


<% end %>

