<p class="account">Login with: <%= @vendor.provider.upcase  %> | Name: <%= @vendor.name %> | <%= link_to "Logout", logout_path, :id => "logout-link" %></p>
<div id="welcome">

    <h1> <%= image_tag('logo.png', :size => '400x100', :class => 'logo' ) %></h1>
  </div>


<div class = "vendor_home_numcode">
<p class="r2">Current of Total code: <%= @vendor.totalCodes %></p>
  <p class="r1"># codes uploaded: <%= @vendor.uploadedCodes %></p>
  
  <p class="r3"># codes used: <%= @vendor.usedCodes %></p>
  <p class="r4"># codes remaining: <%= @vendor.unclaimCodes %></p>
  <p class="r5"># codes removed: <%= @vendor.removedCodes %></p>


</div>
<br>
<br>
<br>


<% if flash[:error] != nil %>
    <% flash.keys.each do |k| %> 
       <center><font color="red"><%= flash[k] %></font></center>
    <% end %> 
<br>
<% end %>


<div class = "group-buttons">
<div class = "row1">
   <%= link_to "Login as a user", '/vendors/change_to_user', {:id => "upload", :style => 'color:#000'} %>
</div>

<div class = "row1">
	 <%= link_to "Upload New Codes", '/vendors/upload_page', {:id => "upload", :style => 'color:#000'} %>
</div>
<div class = "row1">
   <%= link_to "Update Your Profile", '/vendors/profile', {:id => "upload", :style => 'color:#000'} %>
</div>

<div class = "row1">
   <%= link_to "Remove Unclaimed Codes", '/vendors/remove_codes', {:id => "upload", :style => 'color:#000'} %>
</div>
</div>
   
<h4 class="history">History</h4>

<center><%= link_to "Clear History", '/vendors/clear_history', {:id => "upload", :style => 'color:#000'} %></center>


<div class = "vendor_table">

<table>

    <tr class = "vendor_header">
      <td width = "25%">Upload/Remove Date</td>
      <td width = "50%">Comment</td>
      <td width = "25%">Number of Codes Uploaded/Removed</td>
    </tr>
  
<tbody>
  
    <% @histories_array.each do |history| %>
      <tr class="<%= cycle('evenn', 'oddd') -%>">
        <td width = "20%"><%= history[0] %></td>
        <td width = "60%" id="descriptions"><%= history[1] %></td>
        <td width = "20%"><%= history[2] %></td>
      </tr>

    <% end %>
  </tbody>
</table>
</div>






