<p class="account">Account from: <%= @vendor.provider.upcase  %> | <%= @vendor.name %> | <%= link_to "Log out", logout_path, :id => "logout-link" %></p>
<div id="welcome">

    <h1> <%= image_tag('logo.png', :size => '100x100', :class => 'logo' ) %> REDEEMIFY</h1>
  </div>
<!-- <div class = "vendor">
    <h1>VENDOR</h1>
  </div> -->

<div class = "vendor_home_numcode">

  <p class="r1">Number of codes used: <%= @codesUsed %></p>
  <p class="r2">Number of codes remaining: <%= @codesRemain %></p>
  <!-- <p>History: <%= @history %></p> -->

</div>
<br>

<div class = "row1">
	 <%= link_to "Upload New Codes", '/vendors/upload_page', :id => "upload" %>
</div>
   
<h4 class="history">History</h4>
  <div class = "vendor_table">

<table>
  <thead class = "header">
    <tr>
      <th >Upload Date</th>
      <th >Code Description</th>
      <th >Expiration Date</th>
      <th >Number of Codes Uploaded</th>
    </tr>
  </thead>
  <tbody>
    <% @histories_array.each do |history| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= history[0] %></td>
        <td id="description"><%= history[1] %></td>
        <td><%= history[2] %></td>
        <td><%= history[3] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
