<% if current_user %>
  <h1>Redeem your code</h1>
  <p>
    <strong>Name:</strong>
    <%= current_user.name %>
   
  </p>
  <p>
    <strong>Provider:</strong>
    <%= current_user.provider %>
  </p>
  <p>
    <strong>OmniAuth UID:</strong>
    <%= current_user.uid %>
  </p>

  


  <form action="sessions#show" method="POST">
    <p>
    <label for="task_name"><strong>Enter your code Here:</strong></label><br />
      <%= text_field :code , :size => 20 %>
    </p>
    <input type="submit">
  </form>




  <p><%= link_to "Log out", logout_path %></p>


<% else %>
  <strong><h1>Welcome to Redeemify, Vendor</h1></strong>


  <p><strong>Please Sign in through one of these services:</strong></p>

  <div class="auth_providers">
    <a href="/auth/google_oauth2" class="auth_provider">
      <%= image_tag "google_apps_64.png", size: "64x64", alt: "Google" %>
      Google
    </a>
    <a href="/auth/facebook" class="auth_provider">
      <%= image_tag "facebook_64.png", size: "64x64", alt: "Facebook" %>
      Facebook
    </a>
    <a href="/auth/twitter" class="auth_provider">
      <%= image_tag "twitter_64.png", size: "64x64", alt: "Twitter" %>
      Twitter
    </a>

    <a href="/auth/github" class="auth_provider">
      <%= image_tag "github_64.png", size: "64x64", alt: "Github" %>
      GitHub
    </a>

    <a href="/auth/amazon" class="auth_provider">
      <%= image_tag "amazon_64.png", :size => "64x64", :alt => "amazon" %>
      Amazon
    </a>

    <%= link_to "Back", new_session_path %>

  </div>
<% end %>
