<p class="account">Account from: <%= @vendor.provider.upcase  %> | <%= @vendor.name %> | <%= link_to "Log out", logout_path, :id => "logout-link" %></p>
<div id="welcome">

    <h1> <%= image_tag('logo.png', :size => '100x100', :class => 'logo' ) %> REDEEMIFY</h1>
</div>

<div class = "home1">
 <p class="homee"><%= link_to "Home", '/vendors/home' %></p>
</div>

<h4 class="loginwith3">Update your profile</h4>  <%= form_tag update_profile_vendors_path, multipart: true do %>
    
    <h3 class="upload_text">Cash Value</h3> 



    <textarea name="cashValue" id="cashValue" cols="8" rows="2"   > <%= @vendor.cashValue %></textarea>

    <h3 class="upload_text">Expiration Day</h3> 
    <% if @vendor.expiration == nil %>
    <input type="text" name="expiration" id="expiration"  cols="1" rows="1" placeholder = "mm/dd/yyyy"></input>
    <% else%>
    <input type="text" name="expiration" id="expiration"  cols="1" rows="1"><%= @vendor.expiration %></input>
    <%end%>

    <h3 class="upload_text">Help link</h3> 
    <textarea name="helpLink" id = "helpLink" cols="50" rows="2"  ><%= @vendor.helpLink %></textarea>

    <h3 class="upload_text">Offer's Description </h3> 
    <textarea name="description" id="description" cols="50" rows="4" value ="Offer's Description..."></textarea>

    <h3 class="upload_text">Instructions to redeem the code</h3> 
    <textarea name="instruction" id="instruction" cols="50" rows="4"  > <%= @vendor.instruction %></textarea>

    <br>
    <br>



<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery UI Datepicker - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script>
  $(function() {
    $( "#expiration" ).datepicker();
  });
  </script>
</head>
<body>


   

</body>
</html>

  <div class = "home1">
    <%= submit_tag "SUBMIT", :id => "submit"%>
  <% end %>
  </div>
  <br>
  <br>




