<p class="account">Login with: <%= @vendor.provider.upcase  %> | Name: <%= @vendor.name %> | <%= link_to "Logout", logout_path, :id => "logout" %></p>
<div id="welcome">

    <h1> <%= image_tag('logo.png', :size => '400x100', :class => 'logo' ) %></h1>
</div>

 <h4 class="loginwith3">Upload New Codes</h4>
 <div class = "home1">
 <p class="homee"><%= link_to "Home", '/vendors/home' %></p>
 </div>

<% if flash[:error] != nil %>
    <% flash.keys.each do |k| %> 
       <center><font color="red"><%= flash[k] %></font></center>
    <% end %> 
<% end %>


<h3 class="upload_text">Attach .txt file </h3>  <%= form_tag import_vendors_path, multipart: true do %>
<p class = "upload_text"> (please upload '.txt' file, each code per line)</p>
<br>
    <div class = "upload_text">
    <%= file_field_tag :file %> 
    </div>
    <h3 class="upload_text">Comment: <span id='question'>?</span></h3> 
    <div id='popup6'>Explain 6</div>

    <textarea name="comment" id="comments" cols="50" rows="4" placeholder="Comment..."></textarea>

    <br>
    <br>




 

<div class="submit">
    <%= submit_tag "Submit", :id => "submit"%>
  <% end %>
</div>
</div>
<!-- 
<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker3'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker3').datetimepicker({
                    format: 'LT'
                });
            });
        </script>
    </div>
</div> -->
 <script>
  $(function() {
    $( "#expiration" ).datepicker();
  });
  </script>
 <script>
    $(document).ready(function() {
    $('#question').hover(function() {
        $('#popup6').show();
    }, function() {
        $('#popup6').hide();
    });
});
    </script>



