<p class="account"><%= t 'vendor.login' %><%= @vendor.provider.upcase  %> | <%= t 'vendor.name' %> <%= @vendor.name %> | <%= link_to "Logout", logout_path, :id => "logout" %></p>
<div id="welcome">

    <h1> <%= image_tag('logo.png', :size => '400x100', :class => 'logo' ) %></h1>
</div>

<% if flash[:error] != nil %>
<div class = "warning">
    <% flash.keys.each do |k| %> 
       <center><font color="black"><%= flash[k] %></font></center>
    <% end %> 
</div>
<br>
<% end %>

    


<% if flash[:notice] != nil %>
<div class = "notice">
    <% flash.keys.each do |k| %> 
       <center><font color="black"><%= flash[k] %></font></center>
    <% end %> 
</div>
<br>
<% end %>


 <h4 class="loginwith3"><%= t 'vendorupload.header' %></h4>
  <div class = "home1">
 <p class="homee"><%= link_to image_tag('home2.png', :size =>'40x40'), '/vendors/home' %></p>
</div>




<h3 class="upload_text"><%= t 'vendorupload.line1' %> </h3>  <%= form_tag import_vendors_path, multipart: true do %>
<p class = "upload_text"><%= t 'vendorupload.line2' %> </p>
<br>
    <div class = "upload_text">
    <%= file_field_tag :file %> 
    </div>
    <h3 class="upload_text"><%= t 'vendorupload.comment' %><span id='question'>?</span></h3> 
    <div id='popup6'> <%= t 'vendorupload.popup' %> </div>

    <textarea name="comment" id="comments" cols="50" rows="4" placeholder="Comment..."></textarea>

    <br>
    <br>




 

<div class="submit">
    <%= submit_tag "Submit", :id => "submit"%>
  <% end %>
</div>
</div>

 <script>
  $(function() {
    $( "#expiration" ).datepicker();
  });
  </script>
 <script>
    $(document).ready(function() {
    $('#question').hover(function() {
        $('#popup6').show();
    }, function() {
        $('#popup6').hide();
    });
});
    </script>



